body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .imagediv {
  width: 432;
  height: 310;
  position: relative;
}

.ratingdiv {
  position: absolute;
  top: 268;
  left: 10;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.15em;
  padding: 4;
} */
