.imagediv {
  width: 432;
  height: 310;
  position: relative;
  display: flex;
}

.ratingdiv {
  position: absolute;
  top: 268;
  left: 10;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.15em;
  padding: 4;
  color: red;
}
